.btn {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in;

  &:hover {
    cursor: pointer;
  }

  &:not(&-cyan):hover {
    opacity: 0.5;
  }
}

.btn-primary {
  padding: 12px 40px;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: 100px;
  font-family: $font-primary;
}

.btn-secondary {
  border-radius: 5px;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  font-family: $font-primary;
}

.btn-cyan {
  background-color: $color-primary-light;

  &:hover {
    background-color: lighten($color-primary-light, 25%);
  }
}
