<main class="main">
  <section class="section-header">
    <div class="hero-container">
      <img
        src="/assets/images/illustration-working.svg"
        alt="working illustration"
        class="hero"
      />
    </div>
    <div class="msg-container">
      <h1 class="heading-primary title">More than just shorter links</h1>
      <p class="msg">
        Build your brand’s recognition and get detailed insights on how your
        links are performing.
      </p>
      <button class="btn btn-primary btn-cyan">Get Started</button>
    </div>
  </section>
  <section class="section-content">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <input
        type="text"
        class="form-input"
        [ngClass]="error && 'err'"
        formControlName="url"
        name="url"
        placeholder="Shorten a link here..."
      />
      <span class="error" *ngIf="error">{{ error }}</span>
      <button type="submit" class="btn btn-secondary btn-cyan shorten-btn">
        Shorten It!
      </button>
    </form>
    <ng-container *ngIf="links$ | async as links">
      <div class="links" *ngIf="links.length">
        <div class="link" *ngFor="let link of links">
          <p class="long">{{ link.result.original_link }}</p>
          <div class="link-details">
            <p class="short">{{ link.result.full_short_link }}</p>
            <button
              (click)="copyToClipboard(link.result.full_short_link)"
              class="btn btn-secondary btn-cyan btn-copy"
            >
              Copy
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <section class="section-stats">
      <h2 class="heading-secondary stats-title">Advanced Statistics</h2>
      <p class="stats-msg">
        Track how your links are performing across the web with our advanced
        statistics dashboard.
      </p>
      <div class="stats">
        <article class="stat">
          <div class="stat-hero-box">
            <img
              src="/assets/images/icon-brand-recognition.svg"
              alt="stat hero img"
              class="stat-hero"
            />
          </div>
          <h3 class="heading-tertiary stat-title">Brand Recognition</h3>
          <p class="stat-msg">
            Boost your brand recognition with each click. Generic links don’t
            mean a thing. Branded links help instil confidence in your content.
          </p>
        </article>
        <article class="stat">
          <div class="stat-hero-box">
            <img
              src="/assets/images/icon-detailed-records.svg"
              alt="stat hero img"
              class="stat-hero"
            />
          </div>
          <h3 class="heading-tertiary stat-title">Detailed Records</h3>
          <p class="stat-msg">
            Gain insights into who is clicking your links. Knowing when and
            where people engage with your content helps inform better decisions.
          </p>
        </article>
        <article class="stat">
          <div class="stat-hero-box">
            <img
              src="/assets/images/icon-fully-customizable.svg"
              alt="stat hero img"
              class="stat-hero"
            />
          </div>
          <h3 class="heading-tertiary stat-title">Fully Customizable</h3>
          <p class="stat-msg">
            Improve brand awareness and content discoverability through
            customizable links, supercharging audience engagement.
          </p>
        </article>
      </div>
    </section>
  </section>
  <section class="section-footer">
    <p class="boost-msg">Boost your links today</p>
    <button class="btn btn-primary btn-cyan">Get Started</button>
  </section>
</main>
